body {
    font-family: Arial, sans-serif;
    background-color: #f1f5e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.timetable {
    width: 80%;
    background: rgb(250, 249, 249);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,h3 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 3px double #000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #6ae0c9;
}

td {
    background-color: #e0f0b8;
}

td[contenteditable="true"] {
    background-color: #ecd6ea;
}